### Student Details

Student Name: **Siddharth Prince**

Student ID: **23052058**

# Task 2: Probability Theory

## Example 1 (Discrete Proababilities): Will I need a raincoat today?

Being an international student in Ireland, I've heard people say, "enjoy the sun when you can" a lot (for good reason). I know that this example is also really over-used in the probability space, but I'm going with it because it is fitting (future pun intended) to the conversations here in Ireland.  

### Goal:  
The aim here is to simulate the weather conditions for a year and to then calculate the probability that you'd need a raincoat for a given day based on the given probability distribution for the past data.

## Approach

The discrete weather conditions that will be considered for this experiment are as follows:  
- Clear
- Cloudy
- Rain
- Meatballs?! (Hey, one of the mandatory videos on Bayes Theorem ended with the speaker reading quotes about considering the impossible/crazy. So, don't blame me Ciaran. :) )
  
Remember that we're performing this experiment with the context of observing the weather patterns in Ireland, specifically Limerick. Hence, it should be fair to assume some prior information/bake in some bias in terms of the simulated random data.

## Manual Calculations

(Provide details of the manual calculations)

In [ ]:
# Your code

## Option ? (which option did you pick?)

(Describe the task)

## Approach

(Describe the approach you took. Describe also how you used the feedback from the forums to improve your code).

In [ ]:
# Your code

# Task 3: Naive Bayes Classifier

Data obtained from https://github.com/johnmyleswhite/ML_for_Hackers

In [28]:
# import dependencies
import numpy as np
import pandas as pd
import seaborn as sns

# Read the data from the .csv, using the first row as the headers of the data
data = pandas.read_csv('./DataSets/01_heights_weights_genders.csv',header=0)

pd.set_option("display.precision", 2)
# Show just the first few samples so we know it's read correctly
data.head(n=3)

  Gender  Height  Weight
0   Male   73.85  241.89
1   Male   68.78  162.31
2   Male   74.11  212.74

### EDA

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [23]:
data.describe()

         Height    Weight
count  10000.00  10000.00
mean      66.37    161.44
std        3.85     32.11
min       54.26     64.70
25%       63.51    135.82
50%       66.32    161.21
75%       69.17    187.17
max       79.00    269.99

In [24]:
data.describe(include=object)

       Gender
count   10000
unique      2
top      Male
freq     5000

In [25]:
data.loc[data['Gender'] == 'Male', 'Height'].mean()

69.02634590621741

In [26]:
data.loc[data['Gender'] == 'Female', 'Height'].mean()

63.70877360342507

### Visualise

In [ ]:
################################
# Your code here

sns.plot(x='Height',hue='Gender',data=data,kind="scatter")

###### Discuss: Do you think there is resonable separation?

### Features and labels
The aim is to predict the gender of the person based on characteristics such as height, weight. So we call what we want to predict the "label" and the characteristics the "features". This will be covered more later in the module, but is a good enough understanding for now.

In [ ]:
X = data.iloc[:,1:3] # X is the features in our dataset
y = data.iloc[:,0]   # y is the Labels in our dataset

### Train/Test Split

We have a bunch of data from the csv file. What we need to do is decide what of that data we will use to train the algorithm, and what of that data will be used to see how good the result is. More on this later in the module, but you can't use the same data you train with to test the outcome, as it will naturally fit that very well, but you won't catch things like overfitting. 

There is some science to this, but for now we will randomly select one third for testing, and the rest for training.

In [ ]:
################################
# Your code here

### Train the algorithm
We won't go into the details here, but we will use a Gaussian Naive Bayesian. Use GaussianNB from sklearn to train the model. The Gaussian is needed as we're dealing with sparse, continuous data

In [ ]:
from sklearn.naive_bayes import GaussianNB

################################
# Your code here

### Test the algorithm
Using the test data

In [ ]:
from sklearn.metrics import accuracy_score

################################
# Your code here

### Plot the random samples

In [ ]:
################################
# Your code here