## Student details:
Student name: **Siddharth Prince**  
Student ID: **23052058**

### House keeping code

In [26]:
from textblob.classifiers import NaiveBayesClassifier
import pandas as pd

def convertDfToList(df):
    return df.to_records(index=False).tolist()

# Task 4

In [41]:
# Method for Naive Bayes text classification using the TextBlob library
def naiveBayesClassifier(trainingSet, testingSet, verbose=False):
    nbClassifier = NaiveBayesClassifier(trainingSet)
    correctPreds = 0
    for testDoc in testingSet:
        predicted = nbClassifier.classify(testDoc[0])
        if predicted == testDoc[1]:
            correctPreds += 1
        if verbose:
            print(f'document: {testDoc}\t\tpredicted class: {predicted}')
    print(f'Accuracy: {correctPreds/len(testingSet)}')

In [25]:
trainingSet = [('London is the Capital of GB','GB'),
               ('Oxford is a city in GB','GB'),
               ('Dublin is the capital of Ireland','IE'),
               ('Limerick is a city in Ireland','IE')]
testSet = [('University of Limerick','IE'),
           ('University College Dublin','IE'),
           ('Imperial College London','GB'),
           ('University of Oxford','GB'),
           ('Ireland & GB','GB')]
naiveBayesClassifier(trainingSet, testSet, verbose=True)

document: ('University of Limerick', 'IE')		predicted class: IE
document: ('University College Dublin', 'IE')		predicted class: IE
document: ('Imperial College London', 'GB')		predicted class: GB
document: ('University of Oxford', 'GB')		predicted class: GB
document: ('Ireland & GB', 'GB')		predicted class: IE
Accuracy: 0.8

# Task 5

In [11]:
# Downloading the text classification data set
!wget https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv

# Loading the csv data inta a pandas dataframe
df = pd.read_csv('./bbc-text.csv')
df.head()

--2023-12-01 13:24:07--  https://storage.googleapis.com/dataset-uploader/bbc/bbc-text.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.193.207, 209.85.203.207, 172.253.116.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.193.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5057493 (4.8M) [text/csv]
Saving to: ‘bbc-text.csv’

bbc-text.csv        100%[===================>]   4.82M  6.74MB/s    in 0.7s

2023-12-01 13:24:08 (6.74 MB/s) - ‘bbc-text.csv’ saved [5057493/5057493]

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [38]:
# The order of columns in the data frame are flipped. To avoid problems with the classifier method down the line, we'll reindex the df
df = df.reindex(columns=['text', 'category'])

In [39]:
print(f'Number of documents: {len(df.index)}\n')
    
print(f'Documents per category: {df.groupby("category").size()}')

Number of documents: 2225

Documents per category: category
business         510
entertainment    386
politics         417
sport            511
tech             401
dtype: int64

In [44]:
# performing train/test split (80-20 split)
splitIndex = len(df.index) * 0.8
train, test = df.loc[:splitIndex - 1, :], df.loc[splitIndex:, :]
print(f'Train size: {len(train.index)}\nTest size: {len(test.index)}\n')
print('Training set samples:')
display(train)
print('Testing set samples:')
display(test)

Train size: 1780
Test size: 445

Training set samples:

                                                   text       category
0     tv future in the hands of viewers with home th...           tech
1     worldcom boss  left books alone  former worldc...       business
2     tigers wary of farrell  gamble  leicester say ...          sport
3     yeading face newcastle in fa cup premiership s...          sport
4     ocean s twelve raids box office ocean s twelve...  entertainment
...                                                 ...            ...
1775  china  blocks google news site  china has been...           tech
1776  labour accused of  eu propaganda  a  taxpayer ...       politics
1777  tevez - an argentine in brazil some 65 years a...          sport
1778  water firm suez in argentina row a conflict be...       business
1779  tv presenter deeley drops cd:uk cat deeley has...  entertainment

[1780 rows x 2 columns]

Testing set samples:

                                                   text       category
1780  hobbit picture  four years away  lord of the r...  entertainment
1781  game firm holds  cast  auditions video game fi...           tech
1782  clarke plans migrant point scheme anyone plann...       politics
1783  radcliffe will compete in london paula radclif...          sport
1784  serena becomes world number two serena william...          sport
...                                                 ...            ...
2220  cars pull down us retail figures us retail sal...       business
2221  kilroy unveils immigration policy ex-chatshow ...       politics
2222  rem announce new glasgow concert us band rem h...  entertainment
2223  how political squabbles snowball it s become c...       politics
2224  souness delight at euro progress boss graeme s...          sport

[445 rows x 2 columns]

In [45]:
# Classifying the test data based on the training data

# First, we need to convert the df to a list of tuples so that the data strutures are compatible with the defined function
trainingList, testingList = convertDfToList(train), convertDfToList(test)

# Passing the train and test data to the naiveBayesClassifier function that we defined in task 4 above. Code reusability is great! :D
naiveBayesClassifier(trainingList, testingList)

Accuracy: 0.9707865168539326